1. Usando o arquivo "best-selling game consoles.xlsx" conte quantos consoles tem na base por companhias.
2. Ordene o resultado anterior pela quantidade de consoles por companhia de forma decrescente. 
3. Sobre o dataframe anterior, adicione a coluna "Market Value" presente na tabela do arquivo "company.txt".
4. Qual o valor médio de Market Value por console?

In [4]:
import pandas as pd

# Lê o arquivo Excel em um DataFrame
dataframe = pd.read_excel('best-selling game consoles.xlsx', sheet_name='consoles')

# dataframe




# Gera a tabela de contagem por empresa usando agregação
tabela_contagem = dataframe.groupby('Company').size().reset_index(name='Units sold(million)')

tabela_ordenada = tabela_contagem.sort_values(by='Units sold(million)', ascending=False)

dataframe_company = pd.read_csv('company.txt', delimiter=',')

# dataframe_company

dataframe_completo = pd.merge(tabela_ordenada, dataframe_company, left_on='Company', right_on='Company')

dataframe_completo


# Exibe a tabela de contagem por empresa
# print(tabela_contagem)

                    Company  Units sold(million)  Market Value
0                  Nintendo                   17         22615
1                      Sega                    7         10391
2                      Sony                    7          7177
3                     Atari                    4          4160
4                 Microsoft                    4          3154
5                    Coleco                    2           767
6                    Tectoy                    2          2538
7                    Bandai                    1           913
8          Magnavox/Philips                    1           693
9                    Mattel                    1           548
10             Micro Genius                    1           689
11                      NEC                    1           387
12  NEC/Hudson Soft[note 6]                    1           547
13                    Nokia                    1           637
14                  Philips                    1           899